* {
    margin: 0;
    padding: 0;
}

body {
    background: #c27ecf;
}

.aixin {
    position: absolute;
    transform: translate(0px,0px) scale(1);
    transition: transform 0.7s ease-out 0s;
}

.aixin:before,.aixin:after {
    position: absolute;
    left: 10px;
    height: 16px;
    width: 10px;
    content: "";
    background-color: inherit;
    border-radius: 5px 5px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.aixin:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}